.page-container {
  margin: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.side-area {
  position: relative;
  float: left;
  width: 15vw;
  background:#f2f2f2;

}

.templates-main-area {
  display: flex;
  flex-direction: column;
}

.templates-title {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 96px;
}

.templates-page-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  left: 260px;
  min-width: 744px;
  background: #ffffff;
  padding: 40px 0 0 40px;
  height: 56px;
}

.template-header {
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
  font-family: Futura;
  position: relative;
}

.main-area {
  position: relative;
  flex-grow: 1;

}

.template-button {
  position:absolute;
  left:0;
  top:0;
  padding-top: 240px;
  padding-left: 200px;
}

.button {
  border: none;
  color: #f2f2f2;
  background-color: #0F2481;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.title {
  position: relative; 
  height: 10vh;
  line-height: 15vh;
  text-align: center;
  font-size: 2.2em;
  color: #dff7fe;
  border-bottom: solid 1px #dff7fe;
}

.logo {
  padding-top: 15%;
  padding-left: 15%;
  fill: #0d2481;
}

.nav-items {
  position: relative; 
  height: 80vh;
  margin-top: 2vh;
}

.nav-section-title {
  position: relative; 
  display: block;
  width: 90%;
  height: 8.5vh;
  line-height: 8.5vh;
  padding-left: 15%;
  list-style: none;
  text-align: left;
  font-size: 14px;
  color: #666666;  
}

.nav-section {
  position: relative; 
  height: 5vh;
  line-height: 5vh;
  padding-left: 15%;
  list-style: none;
  text-align: left;
  font-size: 18px;
  color: #666666;
}

.nav-page {
  list-style: none;
}

.nav-page-link {
  position: relative; 
  display: inline-block;
  width: 80%;
  height: 5vh;
  line-height: 5vh;
  text-align: left;
  text-decoration: none;
  color: #666666;
}

.nav-page-link-black {
  position: relative; 
  display: inline-block;
  width: 80%;
  height: 5vh;
  line-height: 5vh;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

 .nav-page-link:hover {
  color: #000;
  cursor: pointer;
 }

 .content-area {
  position: relative; 
  width: 80vw;
  height: 100vh; 
  margin-left: 20vw;
 }

 .content {
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 10%;
  border: none;
 }

 .column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}