.page-container {
  margin: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.side-area {
  position: relative;
  float: left;
  width: 15vw;
  background:#f2f2f2;

}

.templates-main-area {
  position: relative;
  width: 85vw;
}

.templates-page-header {
  position: relative;
  width: 75%;
  height: 15vh;
}

.template-header {
  position: relative;
  height: 100%;
  line-height: 7vh;
  padding-left: 3vw;
  font-weight: 500;
  font-size: 25px;
  color: #000000;
  /* font-family: Futura; */
  justify-content: space-between;
  white-space: nowrap;
  /* background-color: red; */
}

.border-line {
  position: relative; 
  width: 77%;
  margin-left: 2vw;
  border-top: solid 1px #e6e8eb;
}

.template-block {
  position: relative;
  width: 75%;
  height: 6vh;
  margin-left: 2vw;
  padding: 3vh;
  /* border-top: solid 1px #e6e8eb; */
  /* background-color: green; */
}

.template-block-info-area {
  position: relative;
  float: left;
  width: 80%;
  height: 100%;
}

.template-block-name {
  position: relative;
  display: block;
  margin-bottom: 1vh;
  color: #28313c;
}

.template-block-disc {
  position: relative;
  display: block;
  color: #28313c;
  font-size: 14px;
  color: #667280;
}

.template-info-button-area {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
}

.template-block-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 60%;
  background-color: #0F2481;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  border: none;
}

.template-block-button:hover {
  background-color: #1f409d;
  cursor: pointer;
}

.main-area {
  position: relative;
  flex-grow: 1;
}

.template-button {
  position:absolute;
  left:0;
  top:0;
  padding-top: 240px;
  padding-left: 200px;
}

.button {
  border: none;
  color: #f2f2f2;
  background-color: #0F2481;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #1f409d;
  cursor: pointer;
}

.title {
  position: relative; 
  height: 10vh;
  line-height: 15vh;
  text-align: center;
  font-size: 2.2em;
  color: #dff7fe;
  border-bottom: solid 1px #dff7fe;
}

.logo {
  padding-top: 15%;
  padding-left: 15%;
  fill: #0d2481;
}

.nav-items {
  position: relative; 
  height: 80vh;
  margin-top: 2vh;
}

.nav-section-title {
  position: relative; 
  display: block;
  width: 90%;
  height: 8.5vh;
  line-height: 8.5vh;
  padding-left: 15%;
  list-style: none;
  text-align: left;
  font-size: 14px;
  color: #666666;  
}

.nav-section {
  position: relative; 
  height: 5vh;
  line-height: 5vh;
  padding-left: 15%;
  list-style: none;
  text-align: left;
  font-size: 18px;
  color: #666666;
}

.nav-page {
  list-style: none;
}

.nav-page-link {
  position: relative; 
  display: inline-block;
  width: 80%;
  height: 5vh;
  line-height: 5vh;
  text-align: left;
  text-decoration: none;
  color: #666666;
}

.nav-page-link-black {
  position: relative; 
  display: inline-block;
  width: 80%;
  height: 5vh;
  line-height: 5vh;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

 .nav-page-link:hover {
  color: #000;
  cursor: pointer;
 }

 .content-area {
  position: relative; 
  width: 80vw;
  height: 100vh; 
  margin-left: 20vw;
 }

 .content {
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 10%;
  border: none;
 }

 .column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

