<html>
  <body style="margin: 0;">
    <div style="
      position: fixed; 
      width: 100vw; 
      height: 100vh; 
      background:yellow;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
    ">
        <h1 style="
          margin-top: 20vh;
          font-size: 5vmin;
        ">
          Here is DropCases!
        </h1>
        <p style="
          font-size: 3vmin;
        ">
          This is a sample Go application to showcase Dropbox's and HelloSign's APIs.
        </p>
    </div>
  </body>
</html>
