<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/templates.css" />
  </head>

  <body class="page-container">
    <div class="side-area">
      <div class="title">
        <svg class="logo">
          <path d="M8 2.4l8 5.1-8 5.1-8-5.1 8-5.1zm16 0l8 5.1-8 5.1-8-5.1 8-5.1zM0 17.7l8-5.1 8 5.1-8 5.1-8-5.1zm24-5.1l8 5.1-8 5.1-8-5.1 8-5.1zM8 24.5l8-5.1 8 5.1-8 5.1-8-5.1z"></path>
        </svg>
      </div>

      <div class="nav-items">
        <li class="nav-section">
          <a href="/home" class="nav-page-link">Home</a>
        </li>
        <li class="nav-section-title">Files</li>
        <li class="nav-section">
          <a href="" class="nav-page-link">All files</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Shared</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">File requests</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Deleted files</a>
        </li>
        <li class="nav-section-title">Tools</li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Paper</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Transfer</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Showcase</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">App Center</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Tasks</a>
        </li>
        <!-- <li class="nav-section">
          <a href="/templates" class="nav-page-link">Templates</a>
        </li> -->
      </div>
    </div>
    <div class="templates-main-area">
        <div class="templates-page-header">
          <h1 class="template-header">Templates</h1>
        </div>

        <div class="border-line"></div>
        
        <div class="template-block">
          <div class="template-block-info-area">
            <span class="template-block-name">
              Internal project template
            </span>
            <span class="template-block-disc">
              A template for internal projects, it'll create the folder structure and its permissions you need.
            </span>
          </div>
          <div class="template-info-button-area">
            <button type="button" class="template-block-button" onclick="window.location.href='/initial-project-template'">Create from Template</button>
          </div>
        </div>

        <div class="border-line"></div>

        <div class="template-block">
          <div class="template-block-info-area">
            <span class="template-block-name">
              External project template
            </span>
            <span class="template-block-disc">
              A template for external projects, it'll create the folder structure and its permissions you need.
            </span>
          </div>
          <div class="template-info-button-area">
            <button type="button" class="template-block-button" onclick="window.location.href='/templates'">Create from Template</button>
          </div>
        </div>

        <div class="border-line"></div>

        <div class="template-block">
          <div class="template-block-info-area">
            <span class="template-block-name">
              Freelancers project template
            </span>
            <span class="template-block-disc">
              A template for freelance projects, it'll create the folder structure and its permissions you need.
            </span>
          </div>
          <div class="template-info-button-area">
            <button type="button" class="template-block-button" onclick="window.location.href='/templates'">Create from Template</button>
          </div>
        </div>

        <div class="border-line"></div>
    </div>

  </body>
</html>