<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/templates.css" />
  </head>

  <body class="page-container">
    <div class="side-area">
      <div class="title">
        <svg class="logo">
          <path d="M8 2.4l8 5.1-8 5.1-8-5.1 8-5.1zm16 0l8 5.1-8 5.1-8-5.1 8-5.1zM0 17.7l8-5.1 8 5.1-8 5.1-8-5.1zm24-5.1l8 5.1-8 5.1-8-5.1 8-5.1zM8 24.5l8-5.1 8 5.1-8 5.1-8-5.1z"></path>
        </svg>
      </div>

      <div class="nav-items">
        <li class="nav-section">
          <a href="/home" class="nav-page-link">Home</a>
        </li>
        <li class="nav-section-title">Files</li>
        <li class="nav-section">
          <a href="" class="nav-page-link-black" >All files</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Shared</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">File requests</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Deleted files</a>
        </li>
        <li class="nav-section-title">Tools</li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Paper</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Transfer</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Showcase</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">App Center</a>
        </li>
        <li class="nav-section">
          <a href="" class="nav-page-link">Tasks</a>
        </li>
        <!-- <li class="nav-section">
          <a href="/templates" class="nav-page-link">Templates</a>
        </li> -->
      </div>
    </div>
    <div class="main-area">
      <div class="image">
        <img src="img.jpg" />
      </div>
      <div class="template-button">
        <button type="button" class="button" onclick="window.location.href='/templates'"><b>Create from Template</b></button>
      </div>
    </div>

  </body>
</html>