<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/wiki.css" />

    <script type="text/javascript">
      function newSource() {
       var e = document.getElementById("MySelectMenu");
       var newSrc = e.options[e.selectedIndex].value;
       document.getElementById("MyFrame").srcdoc=newSrc;
      }
     </script>
  </head>

  <body class="page-container">
    <div class="side-area">
      <div class="title">
        Paper Wiki
      </div>

      <div class="nav-items">
        {{ range .nav }}
          {{ if eq .Type "folder" }}
            <li class="nav-section">
              {{ .Name }}
            </li>
          {{ else }}
            <li class="nav-page">
              <a href={{ .Url }} class="nav-page-link">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="content-area">
      <iframe name="wiki-page" class="content"
      srcdoc={{ .content }}
      ></iframe>
    </div>

  </body>
</html>
