<html>
  <head>
    <script type="text/javascript">
      function newSource() {
       var e = document.getElementById("MySelectMenu");
       var newSrc = e.options[e.selectedIndex].value;
       document.getElementById("MyFrame").srcdoc=newSrc;
      }
     </script>
  </head>

  <body style="margin: 0;">
    <div style="
      position: fixed; 
      width: 20vw; 
      height: 100vh; 
      background:#0f287f;
      font-family: Arial, Helvetica, sans-serif;
    ">

      <div style="
        position: relative; 
        width: 100%; 
        height: 15vh;
        line-height: 15vh;
        text-align: center;
        font-size: 2.5em;
        color: #ddd;
        border-bottom: solid 1px #ddd;
        /* background-color: red; */
      ">
      Paper Wiki
      </div>

      <div style="
        position: relative; 
        width: 100%; 
        height: 80vh;
        margin-top: 5vh;
        /* background:green; */
      ">
        {{ range .navFilesFolders }}
          {{ if eq .Type "folder" }}
            <li style="
              position: relative; 
              display: block;
              width: 90%; 
              height: 5vh;
              padding-left: 10%;
              /* background:green; */
              list-style: none;
              text-align: left;
              font-size: 1.5em;
              color: #ddd;
            ">
              {{ .Name }}
            </li>
          {{ else }}
            <li style="
              position: relative; 
              display: block;
              width: 80%; 
              height: 5vh;
              padding-left: 20%;
              list-style: none;
              text-align: left;
              font-size: 1.3em;
            ">
              <a href={{ .Url }}

                style="
                text-decoration: none;
                color: #ddd;
              ">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </div>

    </div>

    <div style="
      position: relative; 
      width: 80vw; 
      height: 100vh; 
      margin-left: 20vw;
      font-family: Arial, Helvetica, sans-serif;
    ">
      <iframe name="wiki-page"
      style="
        width: 800%;
        height: 90%;
        margin-top: 5%;
        margin-left: 10%;
        border: none;
      "
      srcdoc={{ .wikiContent }}
      ></iframe>
    </div>

  </body>
</html>
